body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.botao {
    text-decoration: none;
    background-color: #2563eb;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #1e40af;
}
